{% extends "base.html" %}
{% load static %}

    <!-- Title -->
{% block title %} Albums - One Music {% endblock %}
{% block content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static "img/bg-img/breadcumb3.jpg" %}');">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Latest Albums</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                        <a href="{% url 'albums' %}" data-filter="*">Browse All</a>
                        <a href="{% url 'albums' %}?letter=A" data-filter=".a" class="active">A</a>
                        <a href="{% url 'albums' %}?letter=B" data-filter=".b">B</a>
                        <a href="{% url 'albums' %}?letter=C" data-filter=".c">C</a>
                        <a href="{% url 'albums' %}?letter=D" data-filter=".d">D</a>
                        <a href="{% url 'albums' %}?letter=E" data-filter=".e">E</a>
                        <a href="{% url 'albums' %}?letter=F" data-filter=".f">F</a>
                        <a href="{% url 'albums' %}?letter=G" data-filter=".g">G</a>
                        <a href="{% url 'albums' %}?letter=H" data-filter=".h">H</a>
                        <a href="{% url 'albums' %}?letter=I" data-filter=".i">I</a>
                        <a href="{% url 'albums' %}?letter=J" data-filter=".j">J</a>
                        <a href="{% url 'albums' %}?letter=K" data-filter=".k">K</a>
                        <a href="{% url 'albums' %}?letter=L" data-filter=".l">L</a>
                        <a href="{% url 'albums' %}?letter=M" data-filter=".m">M</a>
                        <a href="{% url 'albums' %}?letter=N" data-filter=".n">N</a>
                        <a href="{% url 'albums' %}?letter=O" data-filter=".o">O</a>
                        <a href="{% url 'albums' %}?letter=P" data-filter=".p">P</a>
                        <a href="{% url 'albums' %}?letter=Q" data-filter=".q">Q</a>
                        <a href="{% url 'albums' %}?letter=R" data-filter=".r">R</a>
                        <a href="{% url 'albums' %}?letter=S" data-filter=".s">S</a>
                        <a href="{% url 'albums' %}?letter=T" data-filter=".t">T</a>
                        <a href="{% url 'albums' %}?letter=U" data-filter=".u">U</a>
                        <a href="{% url 'albums' %}?letter=V" data-filter=".v">V</a>
                        <a href="{% url 'albums' %}?letter=W" data-filter=".w">W</a>
                        <a href="{% url 'albums' %}?letter=X" data-filter=".x">X</a>
                        <a href="{% url 'albums' %}?letter=Y" data-filter=".y">Y</a>
                        <a href="{% url 'albums' %}?letter=Z" data-filter=".z">Z</a>
                        <a href="{% url 'albums' %}?letter=0" data-filter=".number">0-9</a>
                    </div>
                </div>
            </div>

           <div class="row oneMusic-albums">
                {% for album in albums %}
                <!-- Single Album -->
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item {{ album.title|first|lower }}">
                    <div class="single-album">
                        {% if album.cover %}
                            <img src="{{ album.cover.url }}" alt="{{ album.title }}">
                        {% endif %}
                        <div class="album-info">
                            <a href="{% url 'albums_detail' album.id %}">
                                <h5>{{ album.title }}</h5>
                            </a>
                            <p>{{ album.artist.name }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <p>NO Albums start with letter that.</p>
                </div>
                {% endfor %}
            </div>

    </section>
    <!-- ##### Album Catagory Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <div class="oneMusic-buy-now-area mb-100">
        <div class="container">
            <div class="row">
                {% for album in albums %}
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="album-thumb">
                            <img src="{{ album.cover.url }}" alt="{{ album.title }}">
                            <!-- Album Price -->
                            <div class="album-price">
                                <p>{{ albums.price }}</p>
                            </div>
                            <!-- Play Icon -->
                            <div class="play-icon">
                                <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                            </div>
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>{{ album.title }}</h5>
                            </a>
                            <p>{{ album.artist }}</p>
                        </div>
                    </div>

                </div>
                    {% endfor %}
            </div>
        </div>


            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center">
                        <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Add Area Start ##### -->
    <div class="add-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="adds">
                        <a href="#"><img src="{% static 'img/bg-img/add3.gif' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->

    <!-- ##### Song Area Start ##### -->
    <div class="one-music-songs-area mb-70">
        <div class="container">
            <div class="row">
                <!-- Single Song Area -->
                <div class="col-12">
                    {% for album in albums %}
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img src="{{album.cover.url}}" alt="{{album.title}}">
                        </div>
                        <div class="song-play-area">
                            {% for song in album.songs.all %}
                            <div class="song-name">
                                <p>{{song.title}}</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="{{song.audio_file.url}}">
                            </audio>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- ##### Song Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url('{% static "img/bg-img/bg-2.jpg" %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white">
                        <p>See what’s new</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
{% endblock %}