{% extends "base.html" %}
{% load static %}

{% block title %} Albums - One Music {% endblock %}
{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static "img/bg-img/breadcumb3.jpg" %}');">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Events</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Events Area Start ##### -->
   <section class="events-area section-padding-100">
    <div class="container">
        <div class="row">
            {% for even in event %}
            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        {% if even.thumbnail %}
                            <img src="{{ even.thumbnail.url }}" alt="{{ even.title }}">
                        {% else %}
                            <img src="{% static 'img/bg-img/e1.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="event-text">
                        <h4>{{ even.title }}</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">{{ even.place }}</a>
                            <a href="#" class="event-date">{{ even.date|date:"d/m/Y" }}</a>
                        </div>
                        <a href="#" class="btn see-more-btn" data-bs-toggle="modal" data-bs-target="#eventModal{{ even.id }}">
                            See Event
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal cho sự kiện -->
            <div class="modal fade" id="eventModal{{ even.id }}" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ even.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                    {% if even.thumbnail %}
                      <img src="{{ even.thumbnail.url }}" alt="{{ even.title }}" class="img-fluid mb-3">
                    {% endif %}
                    <p><strong>Place:</strong> {{ even.place }}</p>
                    <p><strong>Date:</strong> {{ even.date|date:"d/m/Y" }}</p>
                    <p>{{ even.description }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

    <!-- ##### Events Area End ##### -->

    <!-- ##### Newsletter & Testimonials Area Start ##### -->
    <section class="newsletter-testimonials-area">
        <div class="container">
            <div class="row">

                <!-- Newsletter Area -->
                <div class="col-12 col-lg-6">
                    <div class="newsletter-area mb-100">
                        <div class="section-heading text-left mb-50">
                            <p>See what’s new</p>
                            <h2>Subscribe to newsletter</h2>
                        </div>
                        <div class="newsletter-form">
                            <form action="{% url 'events' %}" method="post">
                                {% csrf_token %}
                                <input type="email" name="search" id="newsletterSearch" placeholder="E-mail">
                                <button type="submit" class="btn oneMusic-btn">Subscribe <i class="fa fa-angle-double-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Testimonials Area -->
                <div class="col-12 col-lg-6">
                    <div class="testimonials-area mb-100 bg-img bg-overlay" style="background-image: url('{% static "img/bg-img/bg-3.jpg" %}');">
                        <div class="section-heading white text-left mb-50">
                            <p>See what’s new</p>
                            <h2>Testimonial</h2>
                        </div>
                        <!-- Testimonial Slide -->
                        <div class="testimonials-slide owl-carousel">
                            {% for t in testimonial %}
                            <!-- Single Slide -->
                            <div class="single-slide">
                                <p>{{ t.content}}.</p>
                                <div class="testimonial-info d-flex align-items-center">
                                    <div class="testimonial-thumb">
                                        {% if t.photo %}
                                        <img src="{{ t.photo.url }}" alt="{{ t.name }}">
                                        {% else %}
                                        <img src="{% static 'img/bg-img/t1.jpg' %}" alt="">
                                        {% endif %}
                                    </div>
                                    <p>{{t.name}},{{t.role}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Newsletter & Testimonials Area End ##### -->

    <!-- ##### Contact Form Start ##### -->
<section class="contact-area section-padding-0-100">
    <div class="container">
        <div class="section-heading text-center">
            <p>See what’s new</p>
            <h2>Get In Touch</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form  method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                       {{ form.email }}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    {{form.subject }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                   {{form.message }}
                                </div>
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
               {% if messages %}
                <div class="alert alert-success text-center mt-3">
                    {% for mess in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
    </div>
</section>
<!-- ##### Contact Form End ##### -->


{% endblock %}